---
BasedOnStyle: Google
AccessModifierOffset: -2
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
    PadOperators: false
AlignOperands: AlignAfterOperator
AlignTrailingComments:
    Kind: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakBeforeMultilineStrings: false
BreakArrays: false
BreakBeforeBinaryOperators: NonAssignment
IndentAccessModifiers: true
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true
PointerAlignment: Right
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
...
